body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 550px;
}

.container >h1{
    text-align: center;
}

.container .header{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .header-search{
    background-color:lightgreen;
    padding: 20px;
}

.container .header .header-search >input{
    background-color: aliceblue;
    width: 300px;
}

.header-search >button{
    border-radius: 8px;
    border: 1px solid aliceblue;
    margin: 10px;
}

.container .dataDisplay{
    flex:3;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container #city{
    flex: 2 1 0;
}
.container #temp{
    flex: 4 1 0;
}
.container #region{
    flex: 2 1 0;
}
.container #country{
    flex: 1 1 0;
}

